.App {
  display: flex;
  flex-direction: column;
  /* min-height: 400vh; */
  min-height: 218.1875rem;
  background-repeat: no-repeat;
  background-position: top/contain;
  padding-left: 10.9rem;
  width: 100%;
  padding-right: 3.06rem;
}
.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 127.625rem;
  /* padding-left: 10.9rem; */
  width: 62.6875rem;
  /* padding-right: 3.06rem; */
  box-sizing: border-box;
}
