.App {
  display: flex;
  flex-direction: column;
  min-height: 218.1875rem;
  background-repeat: no-repeat;
  background-position: top/contain;
  padding-left: 10.9rem;
  width: 100%;
  padding-right: 3.06rem;
}
.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 127.625rem;
  width: 62.6875rem;
}
footer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: -500px;
}
footer .WrapperFooter {
  width: 100%;
  height: 587px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left/contain;
}
