.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 85%; */
  width: 100%;
  height: 532px;
  margin-top: 5.93rem;
  margin-bottom: 12.125rem;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 2.5rem; */
}
.boxWrapper {
  width: 465px;
  height: 8.5625rem;
  border: 0.2px solid rgba(1, 1, 1, 0.2);
  box-shadow: 1px 3px 7px rgba(1, 1, 1, 0.4);
  border-radius: 0.625rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.boxWrapper div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.boxWrapper div:nth-child(2) {
  width: 337px;
}
.boxWrapper div h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.boxWrapper div p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
