/* footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 7.1875rem;
} */
.WrapperFooter {
  width: 1365px;
  height: 587px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: left/contain;
}
